body {
    background-color: #21252b;
    overflow: hidden;
    padding: 5vh;
    padding-top: 1vh;
    user-select: none;
}

.HeadBox {
    background-color: #282c34;
    width: 100%;
    height: 20vh;
    padding-top: 2.5vh;
}

.TitleDisplay {
    background-color: #262a31;
    display: inline-block;
    margin-left: 5vh;
    width: 15vw;
    height: 15vh;
}

.titleHeader {
    background-color: inherit;
    display: table;
    margin: auto;
    margin-top: 1.5vh;
    padding-top: 3.5vh;
    color: goldenrod;
    font-family: sans-serif, monospace;
    font-weight: bolder;
    font-size: 4vh;
    cursor: pointer;
}

.barHighlight {
    width: 100%;
    height: 1vh;
    display: block;
    margin-top: 4vh;
    margin-left: 0px;
    transition: width .25s linear;
    background-color: goldenrod;
}

.underline {
    background-color: goldenrod;
    display: block;
    height: .7vh;
    margin: 0 auto;
    width: 0;
    border-radius: 90%;
    transition: width .25s linear;
}

.titleHeader:hover>.underline,
.active>.underline {
    width: 100%;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
    filter: brightness(150%);
}

.SnacksNSides {
    background-color: #262a31;
    display: inline-block;
    margin: 0 auto;
    margin-left: 1vh;
    width: 24.4vw;
    height: 15vh;
}

.ExtraValue {
    background-color: #262a31;
    display: inline-block;
    margin: 0 auto;
    margin-left: 1vh;
    width: 24.4vw;
    height: 15vh;
}

.Desserts {
    background-color: #262a31;
    display: inline-block;
    margin: 0 auto;
    margin-left: 1vh;
    width: 24.4vw;
    height: 15vh;
}

.bodyContent {
    background-color: #282c34;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 68.5vh;
}

.icons {
    background-color: #21252b;
    position: absolute;
    visibility: inherit;
    overflow: visible;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56vh;
    border-radius: 2.5vh;
    width: 20vw;
    height: 10vh;
}

.fab-icon-1 {
    visibility: inherit;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    margin-top: 2.5vh;
    margin-left: 5vh;
    cursor: pointer;
    color: black;
    transition: 0.5s ease-in-out;
}

.fab-icon-2 {
    visibility: inherit;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    margin-left: 1vh;
    cursor: pointer;
    color: black;
    transition: 0.5s ease-in-out;
}

.fab-icon-3 {
    visibility: inherit;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    margin-left: 1vh;
    cursor: pointer;
    color: black;
    transition: 0.5s ease-in-out;
}

.fab-icon-4 {
    visibility: inherit;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    margin-left: 1vh;
    cursor: pointer;
    color: black;
    transition: 0.5s ease-in-out;
}

.fab-icon-5 {
    visibility: inherit;
    display: inline-block;
    text-align: center;
    font-size: 5vh;
    margin-left: 1vh;
    cursor: pointer;
    color: black;
    transition: 0.5s ease-in-out;
}

.fab-icon-1:hover {
    color: #6e5494;
}

.fab-icon-2:hover {
    color: #1DA1F2;
}

.fab-icon-3:hover {
    color: #6441a5;
}

.fab-icon-4:hover {
    color: #FFFFFF;
}

.fab-icon-5:hover {
    color: #d8407c;
}

#macroDonaldsImg {
    display: table;
    width: auto;
    height: auto;
    position: absolute;
    inset: auto auto auto auto;
    user-select: none;
    z-index: 0;
    height: 45vh;
}

.createdBy {
    display: flex;
    visibility: inherit;
    background-color: #21252b;
    width: 14vw;
    height: 5vh;
    border-top-left-radius: 2.5vh;
    border-top-right-radius: 2.5vh;
    position: absolute;
    margin-top: 51vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 4;
}

.createdByText {
    visibility: inherit;
    display: flex;
    color: black;
    font-size: 1.4vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vh;
    font-family: sans-serif, monospace;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.creditsButton {
    background-color: #282c34;
    display: inline-table;
    height: 7.5vh;
    width: 7.5vw;
    padding: 0;
    border: none;
    position: fixed;
    border-radius: 3vh;
    text-align: center;
    inset: auto auto 3vh 6.5vh;
    font-weight: bolder;
    letter-spacing: .1vh;
    color: goldenrod;
    font-family: 'gill sans';
    font-size: 3.5vh;
    cursor: pointer;
    transition: .2s linear;
    z-index: 7;
}

.creditsButton:hover {
    background-color: #1b202b;
    color: #644a09;
}

.creditsButton:active {
    transition: 0s;
    color: goldenrod;
}

.creditContainer {
    visibility: hidden;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 65vh;
    justify-content: center;
    display: flex;
    z-index: 6;
}

.leftSide {
    position: absolute;
    background-color: inherit;
    filter: brightness(85%);
    display: block;
    width: 25%;
    height: 90%;
    inset: 5% auto auto 10%;
    border-radius: 5vh;
    z-index: 6;
}

.rightSide {
    position: absolute;
    background-color: inherit;
    filter: brightness(85%);
    display: block;
    width: 25%;
    height: 90%;
    inset: 5% 10% auto auto;
    border-radius: 5vh;
    z-index: 6;
}

.sideContentHead {
    font-size: 4.5vh;
    text-align: center;
    user-select: text;
    filter: brightness(100%);
    color: goldenrod;
    font-family: Helvetica;
    font-weight: bold;
    cursor: text;
}

.textUnderline {
    background-color: goldenrod;
    position: absolute;
    display: block;
    height: .7vh;
    inset: 125% auto auto auto;
    cursor: default;
    user-select: none;
    width: 100%;
}

.sideContent {
    font-size: 2vh;
    text-align: left;
    margin-left: 2.5vh;
    margin-right: 1vh;
    text-indent: 2.5vh;
    filter: brightness(100%);
    font-family: Helvetica;
    color: goldenrod;
    filter: brightness(90%);
    font-weight: normal;
    user-select: text;
    cursor: text;
}